.game-detail-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    border: 1px solid rgb(0, 0, 0, 0.3);
    padding: 4rem 8rem 4rem 8rem;
    border-radius: 16px;
    gap: 2rem;
    background-color: #181a21;
    color: #1999ff;
}

